body,html{
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
  
}
.header-container {
  width: 100vw;
  font-size: 2rem;

}
.header-title{
  height: 95vh;
  width: 100vw;
  background-image: url("../beti-website/media/bannerHeader.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  text-align: center;
}

.header-title h1{
  padding-top: 32vh;
  width: 100vw;
  margin: 0;
  color: white;
  font-family: 'Annie Use Your Telescope', cursive;
}

.header-title p{
  margin: 0;
  color: white;
}
.dbox-donation-button{
  background:#5cb85c; 
  color: #fff;
  text-decoration: none;
  font-family: Verdana,sans-serif;
  display: inline-block;
  font-size: 16px;
  padding: 15px 38px 15px 38px;
  margin-top: 3%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px; 
  border-radius: 2px; 
  box-shadow: 0 1px 0 0 #408040;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

.navbar-container{
  height: 5vh;
  background-color: black;
  text-align: center;
}

.navbar-container ul{
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #4da6ff;
}

.navbar-container li{
  display: inline-block;
  font-size: 1.5rem;
  padding: .5% 1.5% 0 1.5%;
  margin: 0;
  height: auto;
  
}
.navbar-container a {
  text-decoration: none;
  color: white;
}
.sticky-nav {
  position: fixed;
  top: 0;
  width: 100%;
}

.about-container{
  padding: 10%;
}


/* Pseudo Classes */

.section-header{
  text-align: center;
  color: #4da6ff; 
}

.subsection-header{
  text-align: left;
  color: #4da6ff; 
  padding: 0 20% 0 20%;
  margin-bottom: 0;
}


.section-text{
  padding: 0 20% 0 20%;
  text-align: justify;
  font-size: 1rem;
  margin-top: 0;
  
}

.parallax-bg-one{
  height: 45%;
  width: 100vw;
  background-image: url("../beti-website/media/pallelax-one.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
