body,html{
  margin: 0;
  height: 100%;
  width: 100%;
  
}
.header-container {
  width: 100vw;
  font-size: 2rem;

}
.header-title{
  height: 95vh;
  width: 100vw;
  background-image: url("../beti-website/media/landing-page-background.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.header-title h1{
  padding-top: 30vh;
  width: 100vw;
  margin: 0;
}

.header-title p{
  margin: 0;
}

.navbar-container{
  height: 5vh;
  text-align: center;
}

.navbar-container ul{
  margin: 0;
  padding: 0;
  
}

.navbar-container li{
  
  display: inline-block;
  font-size: 1.5rem;
  padding: 1% 3% 0% 3%;
  
  height: auto;
}